* text=auto

*.c text eol=lf
*.cc text eol=lf
*.h text eol=lf
BUILD text eol=lf
WORKSPACE text eol=lf

common/*.h linguist-language=C
iris/*.h linguist-language=C
iris_advanced/*.h linguist-language=C
iris_avanced_toolkit/*.h linguist-language=C
iris_camera/*.h linguist-language=C
iris_camera_toolkit/*.h linguist-language=C
iris_physx/*.h linguist-language=C
iris_physx_toolkit/*.h linguist-language=C
third_party/** linguist-vendored
