# Object files
*.o
*.ko
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Symbols
*.pdb

# Executables
*.exe
*.out
*.app

# Build files
CMakeCache.txt
*.cmake
*.filters
*.vcxproj
*.sln
*.lastbuildstate
*.sdf
*.suo
*.cache
*.opensdf

# Log files
*.tlog
*.log

# Directories
CMakeFiles/